@using PLD.Models
@model ConfigViewModels

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-comment"></i></span>
        <h5>Umbral para las Alertas</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Email</th>
                    <th>Usuario Modificación</th>
                    <th>Activo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="SetListCorreo">
            </tbody>
        </table>
    </div>
</div>

<div id="myAlert" class="modal hide">
</div>

<div class="modal fade" id="ModalCorreo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Editar Registro</h3>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitFormCorreo">
                        <div class="control-group">
                            <label>Correo</label>
                            @Html.HiddenFor(m => m.AML_ID_CVE, new { @id = "IdEmail" })
                        </div>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AML_DS_EMAIL, new { @class = "span12", @id = "DesEmail" })
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form-group modal-footer">
                <a href="#" class="btn btn-danger" id="SaveCorreo">Guardar Cambios</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $.get("/Config/ListaCorreos", null, DataBind);
    function DataBind(ListCorreo) {
        var SetData = $("#SetListCorreo");
        var ckeck = "";
        for (var i = 0; i < ListCorreo.length; i++) {
            if (ListCorreo[i].AML_FG_STATUS == 1) {
                check = "<input type='checkbox' id='chkStatus' onchange='UpdateStatus(" + ListCorreo[i].AML_ID_CVE + "," + ListCorreo[i].PAR_CL_VALOR + ")' checked='checked' />";
            }
            else {
                check = "<input type='checkbox' id='chkStatus' onchange='UpdateStatus(" + ListCorreo[i].AML_ID_CVE + "," + ListCorreo[i].PAR_CL_VALOR + ")' />";
            }
            var Data = "<tr class='gradeA'>" +
                "<td style='text-align: center'>" + ListCorreo[i].AML_DS_DES + "</td>" +
                "<td style='text-align: center'>" + ListCorreo[i].AML_DS_EMAIL + "</td>" +
                "<td style='text-align: center'>" + ListCorreo[i].USR_CL_CVEMOD + "</td>" +
                "<td style='text-align: center'>" + check + "</td>" +
                "<td style='text-align: center'>" + "<a href='#' class='icon-edit' onclick='EditEmailRecord(" + ListCorreo[i].AML_ID_CVE + ")' ><span class='icon-edit'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
        }
    }

    function EditEmailRecord(AML_ID_CVE) {
        var url = "/Config/EditCorreo?AML_ID_CVE=" + AML_ID_CVE;
        $("#ModalTitle").html("Update Student Record");
        $("#ModalCorreo").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#DesEmail").focus();
                $("#DesEmail").val(obj.AML_DS_EMAIL);
                $("#IdEmail").val(obj.AML_ID_CVE);
            }
        })
    }

    $("#SaveCorreo").click(function () {
        var data = $("#SubmitFormCorreo").serialize();
        $.ajax({
            type: "Post",
            url: "/Config/SaveCorreo",
            data: data,
            success: function (result) {
                $("#SetListCorreo").load(" #SetListCorreo");
                $.get("/Config/ListaCorreos", null, DataBind);
                alert("Registro Actualizado");
                $("#ModalCorreo").modal("hide");

            }
        })
    })

    var UpdateStatus = function (Id, valor) {
        var idcheck = 0;
        if ($('#chkStatus').is(":checked")) {
            idcheck = 1;
        }
        var vcheck = $('#chkStatus').val();
        $.ajax({
            url: "@Url.Action("UpdEstatus", "Config")",
            type: 'GET',
            data: { Id: Id, valor: valor, idcheck: idcheck},
            success: function (data) {
                $('#myAlert').html(data);
            }
        });

    }

</script>





