
@using PLD.Models
@model CatalogosModels

<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.Action("Index","Home")" title="Administración Usuarios" class="tip-bottom"><i class="icon-home"></i> Home</a>
     
    </div>
    <h1>Asignacion de permisos</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            @Html.Partial("RegistrarAsignacion", Model)
        </div>
        <div class="span6" id="idModulos">
            @Html.Partial("DetalleAsignacion", Model)
        </div>
    </div>
</div>



